body {
    margin: 0;
    padding: 0;
    /*max-width: 1024px;*/
    margin-left: auto;
    margin-right: auto;
}
.zone_button_lt {display: none;position: absolute;width: 50%;height: 30%;}
.zone_button_rt {display: none;position: absolute;width: 50%;height: 30%;left:50%}
.zone_joystick {display: none;position: absolute;width: 40%;height: 70%;top:30%}
.zone_buttons_menu_start {display: none;position: absolute;width: 20%;height: 70%;top:30%;left:40%}
.zone_buttons_right {display: none;position: absolute;width: 40%;height: 70%;top:30%;left:60%}

.active {display: block;}
h1 {position: absolute; padding: 10px 10px; margin: 0; color: white; right: 0; bottom: 0;}

.zone_joystick.dynamic {background: rgba(0, 0, 255, 0.3);}
.zone_button_lt.semi {background: rgba(0, 255, 255, 0.3);}
.zone_button_rt.static {background: rgba(255, 0, 0, 0.3);}
.zone_buttons_menu_start.tide {background: rgba(255, 50, 0, 0.3);}
.zone_buttons_right.storm {background: rgba(255, 0, 250, 0.3);}

#sketchpad{background: rgba(0, 255, 255, 0.3);}

.round-button {
    display:block;
    width:100px;
    height:100px;
    line-height:100px;
    border: 2px solid #cfdcec;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #4679BD;
    box-shadow: 0 0 3px gray;
    font-size:40px;
    font-weight:bold;
}

.round-button:active {background: #30588e;}
.delayed {transition: all 0.2s; transition-delay: 300ms;}
.delayed:active {transition: none;}
